<div class="col-lg-12 panel panel-warning"></div>
<div class="col-lg-12 panel panel-warning">
    <h3 class="label-class">{{currentBook.name}}</h3>
    <div class="datas">
        <div class="col-lg-5">
            <h3 class="label-class">Authors</h3>
            <div class="label-class" *ngIf="currentBook.authors">
                <h4 *ngFor="let a of currentBook.authors">{{a}}, </h4>
            </div>
            <div *ngIf="!currentBook.authors">
                <h4 class="label-class">Unknown</h4>
            </div>
        </div>
    </div>
    <div class="datas">
        <div class="col-lg-4">
            <h3 class="label-class">Publisher</h3>
            <div class="label-class" *ngIf="currentBook.publisher">
                <h4>{{currentBook.publisher}}</h4>
            </div>
            <div *ngIf="!currentBook.publisher">
                <h4 class="label-class">Unknown</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <h3 class="label-class">Country</h3>
            <div class="label-class" *ngIf="currentBook.country">
                <h4>{{currentBook.country}}</h4>
            </div>
            <div *ngIf="!currentBook.country">
                <h4 class="label-class">Unknown</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <h3 class="label-class">Released</h3>
            <div class="label-class" *ngIf="currentBook.released">
                <h4>{{currentBook.released}}</h4>
            </div>
            <div *ngIf="!currentBook.released">
                <h4 class="label-class">Unknown</h4>
            </div>
        </div>
    </div>
    <div class="datas">
        <div class="col-lg-3">
            <h3 class="label-class">Number of pages</h3>
            <div class="label-class" *ngIf="currentBook.numberOfPages">
                <h4>{{currentBook.numberOfPages}}</h4>
            </div>
            <div *ngIf="!currentBook.numberOfPages">
                <h4 class="label-class">Unknown</h4>
            </div>
        </div>
        <div class="col-lg-3">
            <h3 class="label-class">ISBN</h3>
            <div class="label-class" *ngIf="currentBook.isbn">
                <h4>{{currentBook.isbn}}</h4>
            </div>
            <div *ngIf="!currentBook.isbn">
                <h4 class="label-class">Unknown</h4>
            </div>
        </div>
        <div class="col-lg-3">
            <h3 class="label-class">Media Type</h3>
            <div class="label-class" *ngIf="currentBook.mediaType">
                <h4>{{currentBook.mediaType}}</h4>
            </div>
            <div *ngIf="!currentBook.mediaType">
                <h4 class="label-class">Unknown</h4>
            </div>
        </div>
    </div>
    <div class="datas">
        <div class="col-lg-5">
            <h3 class="label-class">Pov characters</h3>
            <div class="label-class" *ngIf="currentBook.povCharacters!=''">
                <h4 *ngIf="loadingPovCharacters">Loading data...</h4>
                <a class="d-block" *ngFor="let c of povCharacters" (click)="navigateTo(c, 'characters')">{{c || "Anonymus"}}, </a>
            </div>
            <div *ngIf="currentBook.povCharacters==''">
                <h4 class="label-class">Unknown</h4>
            </div>
        </div>
    </div>
    <div class="datas">
        <div class="col-lg-10">
            <h3 class="label-class">Characters</h3>
            <div class="label-class" *ngIf="currentBook.characters!=''">
                <h4 *ngIf="loadingCharacters">Loading data...</h4>
                <a class="d-block" *ngFor="let c of characters" (click)="navigateTo(c, 'characters')">{{c || 'Anonymus'}}, </a>
            </div>
            <div *ngIf="currentBook.characters==''">
                <h4 class="label-class">Unknown</h4>
            </div>
        </div>
    </div>
</div>