a {
    cursor: pointer;
}

.character-list a.active h6 {
    font-weight: bold;
    color: #00AA00;
}

.panel-info {
    margin-left: auto;
    margin-right: auto;
}

.paging, .datas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paging .page-numbers {
    text-align: center;
    line-height: 45px;
    margin: 3px;
}

.pageButton, .showMore {
    text-align: center;
    line-height: 20px;
    margin-bottom: auto;
}

.showMore {
    margin-bottom: 10px;
}

.showMore a{
    color: black;
    font-weight: 200;
}

.btn {
    margin: 3px;
}

.label-class{
    font-weight: 200;
    font: bold;
    text-align: center;
}

.img {
    width: 100px;
    height: 80px;
}

.form-control{
    margin-bottom: 15px;
}